* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(115, 126, 138);
    display: flex;
    justify-content: center;
}

.hidden {
    display: none !important;
}

#main-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 900px;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem; 
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-gap: 0px 10px;
    margin-bottom: 0.5rem;

    .project-input {
        grid-area: 1 / 1 / span 1 / span 6;
    }

    .add-todo-btn {
        grid-area: 1 / 7 / span 1 / span 1;
        
    }

    .delete-project-btn {
        grid-area: 1 / 8 / span 1 / span 1;
    }

    .todo-container {
        display: grid;
        grid-column: 1 / span 8;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 0px 10px;
        margin-top: 1rem;

        input[type="checkbox"] {
            grid-area: 1 / 1 / span 1 / span 1;
            align-self: center;
            justify-self: center;
            accent-color: #4ece72;
            height: 30px;
            width: 30px;
            border-radius: 15px;
        }

        .todo-input {
            grid-area: 1 / 2 / span 1 / span 5;
        }

        .todo-date {
            grid-area: 1 / 7 / span 1 / span 1;
            align-self: center;
            justify-self: center;
            font-family: 'Atkinson Hyperlegible Next';
            font-size: 1.1rem;
            color: #fff;
        }

        .todo-more-btn {
            grid-area: 1 / 8 / span 1 / span 1;
        }
        
        .description {
            grid-area: 2 / 2 / span 1 / span 7;
            font-family: 'Atkinson Hyperlegible Next';
            font-size: 1.1rem;
            color: #fff;
            padding: 1rem;
        }
    }
}

.project-input,
.todo-input,
.more-description {
    font-family: 'Atkinson Hyperlegible Next';
    padding: 0.7rem 0.7rem 0.7rem 2rem;
    font-size: 1.1rem;
    border-radius: 15px;
}

.todo-more-btn,
.todo-back-btn {
    font-family: 'Atkinson Hyperlegible Next';
    margin: 0.3rem;
    font-size: 0.9rem;
    background-color: rgb(255, 210, 152);
}

.title-text {
    font-family: 'Atkinson Hyperlegible Next SmBd';
    font-size: 2rem;
    color: #fff;
}

#new-project-btn,
.add-todo-btn,
.delete-project-btn {
    font-family: 'Atkinson Hyperlegible Next ExBd';
    font-size: 1.5rem;
    padding: 0rem 1.4rem;
    border-radius: 15px;
    background-color: #cdd0f0;
}

#low {
    border-right: solid 2rem #7caeffff;
}

#middle {
    border-right: solid 2rem #ffc47cff; 
}

#high {
    border-right: solid 2rem #ff7c7cff;
}





