* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.hidden {
    display: none !important;
}

#main-container {
    display: flex;
    flex-direction: column;
}

#top-bar {
    display: flex;
    justify-content: space-between;
}

#content {
    display: flex;
    flex-direction: column;
}

.project-container {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}

.todo-container {
    grid-column: 1 / 4;
}

