.todo-page {
    display: flex;
    flex-direction: column;
    font-family: 'Atkinson Hyperlegible Next';
}

.todo-title,
.todo-back-btn,
.more-description {
    margin-bottom: 1rem;
}

.todo-title {
    font-size: 3rem;
    color: #fff;
}

.todo-back-btn {
    align-self: flex-start;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

fieldset {
    color: #fff;
    padding-left: 1rem;
    margin-bottom: 2rem;

    legend {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }

    label {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
}

.due-date,
.notes {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

input[type="date"] {
    margin-bottom: 1rem;
}

textarea {
    font-size: 1rem;
}



